{% extends "base_generic.html" %}

{% block content %}
  <h1>Posts</h1>
  {% if book_list %}
  <ul>
    {% for book in book_list %}
      <h1>Title: {{ book.title }}</h1>
      
      <p><strong>Author:</strong> <a href="">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
      <p><strong>Summary:</strong> {{ book.summary }}</p>
      <p><strong>ISBN:</strong> {{ book.isbn }}</p> 
      <p><strong>Language:</strong> {{ book.language }}</p>  
      <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  
      
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}       
{% endblock %}
