<!DOCTYPE html>
<html lang="en"> <!-- comment+ -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<head>
  <title>Breadcrumbs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





</head>
<body>

<div class="jumbotron text-center">
  <h1>Breadcrumbs</h1>
  <p>An academic resource center for any class you want to study for</p>
  <img src = "https://images.pexels.com/photos/221089/pexels-photo-221089.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
		alt = "Bread Crumbs"
		style="width:250px;height:200px;"
>
</div>

<!--button -->
<body>
	<form action = "">
	<div class="text-center"><input type="button" value = "Create" onclick= "window.location.href = 'catalog/submit';">
	</form>
</body>



<div class="container">

      <div class = "well">      <!--post begins -->
      	<div class = "media">
       		<a class="pull-left" href='#'>
       			<img class="media-object" src="C:\Users\Matt\Desktop\helmet.jpg">
       		</a>
       		<div class="media-body">
       			<h4 class="media-heading">Topic</h4>
       			<p class="text-right">By: Thomas Bui</p>
       			<p>hello guys let's get going with this web UI</p>

                <ul class="list-inline list-unstyled">
                	<li><a href="#"> <span class="glyphicon glyphicon-calendar" > 3 days, 2 hours</span></a></li> <li>|</li>
                	<span> <i class="glyphicon glyphicon-comment"></i> 2 comments</span> <li>|</li>
                	<li><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                		<span class="glyphicon glyphicon-star-empty"></span></li> <li>|</li>
                </ul>
       	     </div>
       </div>

      </div>
</div>


<div class="container">

      <div class = "well">      <!--post begins -->
      	<div class = "media">
       		<a class="pull-left" href='#'>
       			<img class="media-object" src="C:\Users\Matt\Desktop\helmet.jpg">
       		</a>
       		<div class="media-body">
       			<h4 class="media-heading">Topic</h4>
       			<p class="text-right">By: Thomas Bui</p>
       			<p>hello guys let's get going with this web UI</p>

                <ul class="list-inline list-unstyled">
                	<li><a href="#"> <span class="glyphicon glyphicon-calendar" > 3 days, 2 hours</span></a></li> <li>|</li>
                	<span> <i class="glyphicon glyphicon-comment"></i> 2 comments</span> <li>|</li>
                	<li><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                		<span class="glyphicon glyphicon-star-empty"></span></li> <li>|</li>
                </ul>
       	     </div>
       </div>

      </div>
</div>



</body>
</html>
