<!DOCTYPE html>
<html>
<head>


<!-- new post -->
<div class = "container">

    <div class="well">
        <!--post begins -->
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">Make a new post</h4>
                    <img class="media-object" src="C:\Users\Matt\Desktop\helmet.jpg">
                    <form action="/forms/" method = "post">

                        First name:<br>
                        <label for = "Author">Author</label>
                        <input id = "Author" type = "text" name = "Author" value = "{{ current_name }}">
                        <input type="submit" value="OK">
                        <br>
                        Title:<br>
                        <label for = "Title">Title</label>
                        <input id = "Title" type = "text" name = "Title" value ="{{ current_name }}">
                        <input type="submit" value="OK">
                        <br><br>
                        Entry:<br>
                        <br><br>
                        <label for = "Entry">Entry</label>
                        <input id = "Entry" type = "text" name = "Entry" value = "{{ current_name }}">
                        <input type="submit" value="OK">
                        <br>
                        <input type = "submit" value = "Submit">
                    </form>

            </div>
        </div>

    </div>
</div>
</head>
</html>
